<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.nodl.core</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/nodl-core</string>
		<string>--profile=earth</string>
        <string>--api=https://api.wnode.network</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>StandardOutPath</key>
	<string>/Library/Logs/Wnode/nodl-core.log</string>
	<key>StandardErrorPath</key>
	<string>/Library/Logs/Wnode/nodl-core.err</string>
</dict>
</plist>
