{
    email admin@wnode.one
}

cmd.wnode.one {
    reverse_proxy localhost:3001
}

nodlr.wnode.one {
    reverse_proxy localhost:3002
}

mesh.wnode.one {
    reverse_proxy localhost:3003
}

api.wnode.one {
    reverse_proxy localhost:8080
}
